<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vote Nelson Arum | MAMA 2019 For Federal House of Representative (Enugu north/south federal constituency) APC</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
  <meta property="og:url"           content="http://nelsonarum.com/love-of-city"/>
  <meta property="og:type"          content="Enugu south and north constituency" />
  <meta property="og:title"         content="Hon Nelson Maduka Arum - For The Love of The City" />
  <meta property="og:description"   content="MAMA 2019 For Federal House of Representative (Enugu north/south federal constituency)" />
  <meta property="og:image"         content="http://nelsonarum.com/media/mama-bg.jpeg"/>
  <meta name="description" content="Hon Nelson Arum for Federal House Of Representative (Enugu north/south federal constituency)">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <style type="text/css">

    body, html {
    height: 100%;
    }

    .parallax { 
        /* The image used */
        background-image: url('/assets/images/apc-protest.jpg');

        /* Full height */
        height: 100%; 

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main {
      background-color: rgba(0,0,0,0.3);
      /*height: 800px;*/
    }

    .card {
      background-color: rgb(173,216,230,0.8);
    }

    .container {
   
      margin: 0 auto;
    }

    header {
      
      padding: 5px 10px;
      color: #fff
    }

    .header ul {
      display: inline-block;
      list-style: none;
    }

    .header > ul > li {
      float: left;
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    
    .banner img {
      max-width: 30em;
      height: auto;
    }

    .logo2 {
      width: 18.5em;
      height: auto;
      margin-top: 10px
    }

    .vote-area {
      text-align: center;
    }

    .marquee {
      width: 450px;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }

    .marquee span {
      display: inline-block;
      padding-left: 100%;  /* show the marquee just outside the paragraph */
      animation: marquee 15s linear infinite;
      font-size: 32px;
      color: darkRed;
      font-weight: bold;
      text-shadow: 1px 2px 3px #eee
    }

    .marquee span:hover {
      animation-play-state: paused
    }

    /* Make it move */
    @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
    }

    .social {
      display: inline-block;
      list-style: none;
    }

    .social li {
      float: left;
      padding: 5px 10px;
    }

    .goal div {
      width: 90%;
      margin: 0 auto;
    }

    

    .palletes a{
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      padding: 10px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      background-color:skyBlue;
      margin: 10px 0;
    }

     .image-fit {
      height: 100%; width: 100%; object-fit: contain
    }
    
  </style>

</head>

<body class="parallax">

<div class="main">
	<div class="card container">
    <header class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="">
          <h5><a href="/" style="text-shadow: 1px 2px 3px #000" class="text-white">MAMA <span style="font-style: italic;" class="text-danger">2019</span></a></h5>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 header">
        
        <a href="/campaign" class="text-white pr-2" style="text-shadow: 1px 2px 3px #000">Campaign Schedule</a>
        <a href="/about" class="text-white pr-2" style="text-shadow: 1px 2px 3px #000">About Nelson</a>
        <a href="" class="text-white pr-2" style="text-shadow: 1px 2px 3px #000">Join us</a>
        
      </div>
    </header>
    <section class="banner bg-white p-2" style="overflow-x:hidden;">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6">
          <h3 class="pt-2 pb-2"><img src="/assets/images/apc-thumb.jpg" style="width: 1.5em; height: auto;"> Hon. Nelson Maduka Arum - Is for the love of the city</h3>
          <p class="pt-2 pb-2">
          After much hesitance to answer the call of my friends and people to join active politics, I undertook a solemn quest on why I should heed to their calls. I embarked on a wider consultation within and without political circles, and the more I enquire and hesitate to jump into political foray, the more the urge of my friends and associates to accept to join the race in order to continue in a larger way to propagate my “Ministry of freewill gifts of empowerment”.<br><br> Thus, on October 5th 2018, my party (All Progressives Congress) members came out in their numbers in direct primary and overwhelmingly nominated me to contest for the Enugu North/Enugu South Federal Constituency seat, in the Federal House of Representatives.<br><br>
          It was a great day for me. And I give God all the glory! I accept this privilege as a welcome challenge. This is because, it has always been my utmost desire to passionately help the needy and comfort the distressed much more than I could possibly do with my lean resources. It is my life’s ambition, mission and vision to serve the needy and comfort the distressed in an unimaginable scale. But, I was constrained by my lean resources. Thus, to me, this is a clarion call for a continued struggle to better the society. And, it is for the love of the City.<br><br>

           I, hereby present myself to you, asking for your prayers, support and vote, for us to actualize this mission. <br><br>
          Together, we Can! Let us get it Right this time.<br>
          <b>MAMA 2019</b>, For <b>Federal House of Representatives</b>. It is for the Love of the City!<br>
          Enugu North/South federal Constituency <br><br>
          APC…………………… Ebe Esere Aziza! 
          </p>

           <div class="p-2 font1_2">
         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

           <div class="fb-share-button" data-href="http://nelsonarum.com/vision" style="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                      </div>
                     
                       
                     

                        <a href="https://web.whatsapp.com/send?text=http://nelsonarum.com/love-of-city%0A%0AAfter much hesitance to answer the call of my friends and people to join active politics, I undertook a solemn quest on why I should heed to their calls. I embarked on a wider consultation within and without political circles, and the more I enquire and hesitate to jump into political foray, the more the urge of my friends and associates to accept to join the race in order to continue in a larger way to propagate my “Ministry of freewill gifts of empowerment”. %0A%0AThus, on October 5th 2018, my party (All Progressives Congress) members came out in their numbers in direct primary and overwhelmingly nominated me to contest for the Enugu North/Enugu South Federal Constituency seat, in the Federal House of Representatives%0A%0A VOTE for Hon NELSON MADUKA ARUM for Federal House Of Representative (Enugu north/south federal constituency) 2019 %0A%0AVOTE for  APC…………………… Ebe Esere Aziza! %0A%0AVisit above link to learn more about his vision 2019" target="_blank" data-action="share/whatsapp/share" style="cursor: pointer;font-weight: 500;color: #fff;background-color: #85CE36;width: 14px;height: 14px;border-radius: 10%!important;padding: 3px 8px;font-size: 12px"><i class="ui-whatsapp" style=""></i> &nbsp;whatsapp</a>
                      
        </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 vote-area">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12" >
             <img src="/media/mama-bg.jpeg" class="image-fit" alt='image'>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
               <img src="/assets/images/apc-logo.png" class="logo2">  
               <h4 style="text-shadow: 1px 2px 3px #eee">Hon. Nelson Maduka Arum <br>
                  <span style="font-size: 16px;font-style: italic;" class="text-danger">For</span><br>
                  <span>Federal House Of Representative</span><br>
                  <span style="font-size: 16px">Enugu  North &amp; South Federal Constituency</span>

               </h4>
             </div>
           </div>
        </div>
      </div>
    </section>
    <section class="bg-info p-2 goal">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="palletes">
            <a href="/vision">
                <i class="fa fa-building-o" aria-hidden="true"></i><br>
                Our Vision
            </a>
          </div>
        </div>
         <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="palletes">
            <a href="/campaign">
                <i class="fa fa-globe"></i><br>
                Our Campaigns
            </a>
          </div>
        </div>
         <!--<div class="col-md-3 col-sm-12 col-lg-3">
          <div class="palletes">
             <a href="/post/project">
                <i class="fa fa-briefcase"></i><br>
                Our Projects
            </a>
          </div>
        </div>-->
      </div>
    </section>
    <section class="pt-2">
      <p class="microsoft marquee"><span>MAMA anata go!</span></p>
    </section>
    <section class="banner bg-white p-2">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-md-7">
              <h4 class="p-2 text-info">Watch MAMA - as cheerful as always</h4>
              <p class="p-2 font1_2">
                 <video class="image-fit" controls autoplay="true">
                 <source src="/media/mama.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </p>
            </div> 
            <div class="col-md-5 col-sm-12 col-lg-5">
               <h4 class="p-2 text-info">Vision <span class="text-danger">2019</span></h4>
               <ul style="">
                 <li><h5> <a href="/vision">Fresh Ideas</a></h5></li>
                 <li><h5> <a href="/vision">Effective Representation</a></h5></li>
                 <li><h5> <a href="/vision">Youth Empowerment</a></h5></li>
               </ul>
            </div>   
        </div> 
        <hr>  
        <div class="row">
            <div class="col-md-12">
            
            </div>
        </div>   
    </section>
     <section class="banner bg-white p-2">
          <div class="row">
              <div class="col-md-12">
                <!--<h4 class="p-2 text-info">Useful Resources</h4>-->
              </div>
              <hr>
          </div>
         <div class="row">  
         <% for(var j = 0; j < others.length; j++) { %>       
            <div class="col-md-3 col-sm-12 col-md-3" style="text-align: center;border:1px solid rgb(173,216,230,0.8)">
                  <a href="<%= others[j].link %>" style="color: #000;padding-top: 10px">

                      <img src="/media/mama-bg.jpeg" style="width: 220px;height: auto;" class="image-responsive" alt="mama image"> <br>
                      <h6 style="padding: 5px;font-weight: bold;"><%= others[j].title %></h6>
                  </a>
            </div> 
          <% } %>
        </div> 
    </section>
    <footer>
    
    </footer>
	</div>
 

</div>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="js/scripts.js"></script>
</body>
</html>